* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 1rem;
  font-family: josefin, sans-serif; }

a {
  text-decoration: none;
  font-weight: bold; }

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 1rem; }

.centrar__texto {
  text-align: center; }

.textos {
  padding: 1rem; }

h2, h3, h4 {
  font-size: 2rem;
  line-height: 2; }

p {
  font-size: 1.4rem;
  line-height: 1.3;
  text-align: justify; }

.imagenes {
  max-width: 20rem;
  margin: auto;
  max-height: 20rem;
  height: auto;
  width: auto; }

li {
  list-style-type: none; }

.boton {
  margin: 1rem 0;
  padding: 0.6rem;
  display: inline-block;
  background-color: orange;
  border: none;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border-radius: 0.3rem;
  font-size: 1.3rem; }

.boton:hover {
  background-color: #185f18;
  color: white;
  cursor: pointer; }

@media screen and (max-width: 1200px) {
  .imagenes {
    max-width: 100%;
    max-height: 100%; }
  h1, h2 {
    text-align: center; }
  .boton {
    display: block;
    padding: 1rem; } }

.header {
  background-image: url(../images/backgroundImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem; }
  .header .banner__logo span {
    color: #8d8383; }
  @media screen and (max-width: 1200px) {
    .header {
      padding: 0; }
      .header .banner__navegacion {
        background-color: #185f18; } }

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 0;
  justify-content: space-between;
  align-items: baseline;
  height: auto;
  width: 85%; }
  .banner__logo h1 {
    font-size: 5rem;
    color: white; }
  .banner__logo span {
    font-weight: 700;
    color: #14a314; }
  .banner__navegacion {
    display: flex;
    justify-content: center; }
  .banner__navegacion__enlace {
    color: white;
    display: inline-block;
    padding: 1rem;
    border-radius: .5rem;
    margin: 0;
    font-size: 2rem; }
  .banner__navegacion__enlace:hover {
    background-color: black;
    color: white; }
  @media screen and (max-width: 1200px) {
    .banner {
      grid-template-columns: 1fr;
      text-align: center;
      width: 100%;
      padding: 3rem 0 0 0; }
      .banner__navegacion {
        justify-content: space-evenly;
        margin: 0;
        grid-row: 1; }
      .banner__navegacion__enlace {
        padding: 1rem; } }
  @media screen and (max-width: 768px) {
    .banner__logo {
      text-align: center; }
    .banner__navegacion {
      flex-direction: column;
      text-align: center;
      padding: 0; }
    .banner__navegacion__enlace {
      display: block;
      padding: 1rem 0;
      margin: .5rem 0; } }

.sidebar__productos {
  background-color: beige;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column; }

.sidebar__imagen {
  height: 15rem;
  width: auto; }

.sidebar__boton {
  display: block;
  padding: .5rem; }

@media screen and (max-width: 1200px) {
  .sidebar__productos {
    display: flex;
    flex-direction: row;
    gap: 3rem; } }

@media screen and (max-width: 768px) {
  .sidebar__productos {
    width: 100%;
    padding: 1rem 0;
    border-radius: 0;
    flex-direction: column; }
  .sidebar__productos .boton {
    border-radius: 0; }
  .sidebar__productos__1 {
    border-radius: 0; } }

.footer {
  background-color: black;
  padding-bottom: 8rem; }
  .footer .banner__navegacion__enlace:hover {
    background-color: green; }
  @media screen and (max-width: 1200px) {
    .footer .banner__logo {
      grid-row: 2; }
    .footer .banner {
      padding: 0 0 4rem 0; } }
  @media screen and (max-width: 768px) {
    .footer .banner {
      padding: 0; }
    .footer .banner__logo {
      grid-row: auto; } }

.contenido__principal {
  display: grid;
  grid-template-columns: 2fr 1fr 0;
  gap: 2rem;
  justify-content: space-between; }
  @media screen and (max-width: 1200px) {
    .contenido__principal {
      grid-template-columns: 1fr; } }

.entrada__contenido {
  display: flex;
  gap: 1rem;
  padding: 3rem 0;
  border-bottom: 1px solid lightgray; }

@media screen and (max-width: 1200px) {
  .entrada__contenido {
    flex-direction: column;
    margin: 0; }
  .entrada__imagen {
    height: 30rem; } }

.formulario {
  display: block;
  margin: 1rem;
  /*Estilos Mobile*/ }
  .formulario__recuadro {
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;
    justify-items: center;
    width: 25rem;
    padding: 2rem;
    margin: auto;
    font-size: 1.5rem;
    border: 1px solid #8d8383;
    width: 35rem;
    max-width: 90%; }
  .formulario__legend {
    margin-bottom: 0.5rem; }
  .formulario__interno {
    display: flex;
    gap: 1rem;
    padding: 0 1rem; }
  .formulario__boton {
    display: flex;
    gap: 1rem;
    justify-content: center; }
  .formulario__input {
    padding: .3rem;
    font-size: 1.2rem; }
  @media screen and (max-width: 768px) {
    .formulario {
      margin: 0; }
      .formulario__recuadro {
        width: 100%; } }

.entrada1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-rows: auto;
  grid-template-areas: "titulo titulo titulo" "imagen1 parrafo1 parrafo1" "video video video" "parrafo2 parrafo2 imagen2"; }
  .entrada1__texto {
    grid-area: titulo; }
  .entrada1__textos1 {
    grid-area: parrafo1; }
  .entrada1__textos2 {
    grid-area: parrafo2; }
  .entrada1__imagen1 {
    grid-area: imagen1; }
  .entrada1__imagen2 {
    grid-area: imagen2; }
  .entrada1__video {
    grid-area: video;
    height: 25rem;
    width: 70%;
    display: block;
    margin: auto;
    max-width: 90rem; }
  @media screen and (max-width: 1200px) {
    .entrada1 {
      gap: 1rem;
      grid-template-columns: 20% 1fr 20%;
      grid-template-areas: "titulo titulo titulo" " parrafo1 parrafo1 parrafo1" "imagen1 video imagen2" "parrafo2 parrafo2 parrafo2"; }
      .entrada1__video, .entrada1__imagen1, .entrada1__imagen2 {
        width: 100%;
        height: 40vh; } }
  @media screen and (max-width: 768px) {
    .entrada1 {
      grid-template-columns: 1fr;
      grid-template-areas: "titulo" "imagen1" "parrafo1" "video" "imagen2" "parrafo2"; }
      .entrada1__imagen1, .entrada1__imagen2 {
        height: auto;
        width: 100%; }
      .entrada1__video {
        height: 25rem; } }

.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem; }
  .productos__producto {
    background-color: beige;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column; }
  @media screen and (max-width: 1200px) {
    .productos {
      grid-template-columns: 1fr 1fr; } }
  @media screen and (max-width: 768px) {
    .productos {
      grid-template-columns: 1fr; } }

.nosotros__interno {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: auto auto 0;
  gap: 1rem;
  align-items: center; }

.nosotros__imagen {
  max-width: 100%;
  max-height: 100%; }

@media screen and (max-width: 1200px) {
  .nosotros__interno {
    grid-template-columns: 1fr; } }
