@import "../utilities/variables";
@import "../utilities/mixins";


.banner{
    @include grids(1fr, 1fr, 0);
    justify-content: space-between;
    align-items: baseline;
    @include altoAncho (auto,85%);
    &__logo h1{
        font-size: 5rem;
        color: $blanco;
    }

    &__logo span{
        font-weight: 700;
        color: $verde;   
    }

    &__navegacion {
        display: flex;
        justify-content:center;
    }
    &__navegacion__enlace{
        color: $blanco;
        display: inline-block;
        padding: 1rem;
        border-radius: .5rem;
        margin:0;
        font-size: 2rem;
    }
    &__navegacion__enlace:hover{
        background-color: $negro;
        color: $blanco;
    }
    @include media($tablet-max){
        grid-template-columns: 1fr;
            text-align: center;
            width: 100%;
            padding: 3rem 0 0 0;
        &__navegacion {
            justify-content: space-evenly;
            margin: 0;
            grid-row: 1;
        }
        &__navegacion__enlace {
            padding: 1rem ;
        }
    }

    @include media($telefono-max) {
        &__ocultar{
            display: none;
        }
        &__logo {
            text-align: center;
        }
        &__navegacion {
            flex-direction: column;
            text-align: center;
            padding: 0;
        }
        &__navegacion__enlace {
            display: block;
            
            padding: 1rem 0;
            margin: .5rem 0;
        }
    }
}