@import "../utilities/variables";
@import "../utilities/mixins";


.footer{
    background-color: $negro;
    padding-bottom: 8rem;

    & .banner__navegacion__enlace:hover{
        background-color: green;
    }

    @include media($tablet-max){
        & .banner__logo{
            grid-row: 2;
        }
        & .banner {
            padding: 0 0 4rem 0;
        }
    }
    @include media($telefono-max) {
        & .banner{
            padding:0;
        }
        & .banner__logo{
            grid-row: auto;
        }
    }
}

