@import "../utilities/variables";

/*FOOTER*/
.footer{
    background-color: $negro;
    padding-bottom: 8rem;

    & .banner__navegacion__enlace:hover{
        background-color: green;
    }

    @media screen and (max-width: $tablet-max) {
        & .banner__logo{
            grid-row: 2;
        }
        & .banner {
            padding-bottom: 4rem;
            padding-top: 0;
        }
    }
    @media screen and (max-width: $telefono-max) {
        & .banner{
            padding:0;
        }
        & .banner__logo{
            grid-row: auto;
        }
    }
}

