@import "../utilities/variables";
@import "../utilities/mixins";


.header{
    background-image: url(../images/backgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;


    & .banner__logo span{
        color: $gris;    
    }


    @include media($tablet-max){
            padding: 0;
        & .banner__navegacion{
            background-color: $verde-oscuro;
        }
    }
    @include media($telefono-max) {
            padding: 0;
    }
}