@import "../utilities/variables";

/* Header */
.header{
    background-image: url(../images/backgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;


    & .banner__logo span{
        color: $gris;    
    }

    /*Estilos Tablet*/
    @media screen and (max-width: $tablet-max) {
            /*Head*/ 
            padding: 0;
        & .banner__navegacion{
            background-color: $verde-oscuro;
        }
    }
    @media screen and (max-width: $telefono-max) {
            padding: 0;
    }
}