@import "../utilities/variables";
@import "../utilities/mixins";


.sidebar__productos {
    @include productos;
}
.sidebar{

    &__imagen{
        @include altoAncho (15rem,auto);

    }
    &__boton{
        display: block;
        padding: .5rem;
    }
    @include media($tablet-max){
        &__productos{
            display: flex;
            flex-direction: row;
            gap: 3rem;
        }
    }
    @include media($telefono-max) {
    &__productos {
        width: 100%;
        padding: 1rem 0;
        border-radius: 0;
        flex-direction: column;
    }
    &__productos .boton{
        border-radius: 0;
    }

    &__productos__1{
        border-radius: 0;
    }
    }
}