@import "../utilities/variables";
@import "../utilities/mixins";


.sidebar__producto {
    @include productos;
    margin-bottom: .3rem;
    

}
.sidebar{

    &__imagen{
        @include altoAncho (15rem,auto);
        background-color: $blanco;
        &__contenedor{
            background-color: $blanco;
            @include altoAncho (15rem,15rem);
            margin: auto;
        }

    }
    &__boton{
        display: block;
        padding: .5rem;
    }
    @include media($tablet-max){
        &__productos{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-left: 0;
           gap: 1rem;
           
        }
    }
    @include media($telefono-max) {
    &__productos {
        width: 100%;
        padding: 1rem 0;
        border-radius: 0;
        grid-template-columns: 1fr;
    }
    &__productos .boton{
        border-radius: 0;
    }

    &__productos__1{
        border-radius: 0;
    }
    }
}