
//tamaños
$telefono-max: 768px;
$tablet-max: 1200px;


//colores
$blanco: rgb(255, 255, 255);

$negro: rgb(0, 0, 0);

$verde: rgb(20, 163, 20);

$verde-oscuro: rgb(24, 95, 24);

$gris: rgb(141, 131, 131);

$gris--claro: rgb(211, 211, 211);

$fondo--productos:rgb(245, 245, 220);

$botones--interno:rgb(255, 165, 0);