@import "../utilities/variables";
@import "../utilities/mixins";


.contenido__principal {
    @include grids(2fr, 1fr, 0);
    gap: 2rem;
    justify-content: space-between;
    @media screen and (max-width: 1200px) {
            grid-template-columns: 1fr;
    }
}


.entrada{
    &__contenido{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    padding: 3rem 0;
    border-bottom: 1px solid $gris--claro;
    }
    @include media($tablet-max){
        &__contenido {
            grid-template-columns: 1fr;
            margin: auto;
        }
        &__imagen{
            height: 30rem;
        }
    }
}

