@import "../utilities/variables";
@import "../utilities/mixins";


.productos {
    @include grids(1fr, 1fr, 1fr);
    gap: 2rem;
    &__producto{
        @include productos;

    }
    @include media($tablet-max){
        grid-template-columns: 1fr 1fr;
    }

    @include media($telefono-max) {
        grid-template-columns:1fr;
    }
}
